
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

:root {
    --btn-color: #FCB72B;
    --title-color: #495567;
    --text-color: #939CAA;
    --line-color: #E5ECF4;
    --white: #fff;

}

.all-btn {
    max-width: 195px;
    width: 100%;
    padding: 14px 40px;
    background-color: var(--btn-color);
    color: var(--white);
    line-height: 25px;
    font-weight: 700;
    font-size: 15px;
    text-transform: capitalize;
    text-align: center;
    transition: .5s;
    border: 3px solid var(--btn-color);
}

.all-btn:hover {
    background: var(--white);
    color: var(--btn-color);
    border: 3px solid var(--btn-color);
}

.text {
    max-width: 445px;
    width: 100%;
    color: var(--text-color);
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    margin: 24px 0 40px 0;
}

.title {
    width: 500px;
    color: var(--title-color);
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2, 143px;
    font-weight: 700;
}

.container {
    max-width: 1200px;
    margin: auto;
    width: 100%;
    padding: 0 15px;
    overflow: hidden;
}
.header__links{
    display: flex;
    column-gap: 30px;
    padding-right: 100px;
}

.header__nav {
    display: flex;
    align-items: center;
    padding: 21px 0;
}

.header__list {
    display: flex;
    align-items: center;
    column-gap: 500px;
}

.header__logo {
    margin-right: 26px;
}

.header__link {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
   justify-content: space-between;
}


.header__wrapper {
    width: 100%;
    min-height: 20vh ;
    position: relative;
}

.header__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.header__content {
    width: 100%;
    height: 20vh;
    background: #2F3B59;
    opacity: 0.75;
    display: flex;
    align-items: center;
    position: relative;
}

.header__wrapper-title {
    color: var(--white);
    max-width: 500px;
    width: 100%;
    font-size: 56px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -2.5px;

}

.section1 {
    padding: 80px 0;
}

.digital {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.digital__title{
   font-size: 55px;
}

.digital__img {
    border-radius: 50%;
}

.better {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 80px 0;
}
.better__title{
font-size: 50px;
}

.better__img {
    border-radius: 50%;
}

.section2{
    padding: 80px 0;
}
.section2__title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
    color: var(--title-color);
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2, 143px;
    font-weight: 700;
}
.section2__cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}
.section2__card{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.section2__img{
    position: relative;
    text-align: center;
}
.section2__card-img{
    border-radius: 50%;
    max-width: 300px;
    width: 100%;
}
.section2__number{
    width: 96px;
    border-radius: 50%;
    background-color: var(--btn-color);
    color: var(--title-color);
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -1.071px;
    padding: 34px;
    position: absolute;
    bottom: -45px;
    left: 123px;
}
.section2__card-title{
    color: var(--title-color);
    text-align: center;
    font-size: 24px;
    margin-top: 30px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -1.071px;
}
.section2__card-text{
    max-width: 445px;
    width: 100%;
    text-align: center;
    color: var(--text-color);
    line-height: 25px;
}
.FAQs{
    padding: 80px 0;
}
.FAQs__title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
    color: var(--title-color);
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2, 143px;
    font-weight: 700;
}
.Works{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Works__title{
    color: var(--title-color);
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -1.786px;
    line-height: 48px;

}
.Acordions{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
}

.Acordion{
    display: flex;
    flex-direction: column;
    width: 750px;
    justify-content: center;
}
.Acordion__text{
    font-size: 15px;
    font-weight: 400;
    color: var(--title-color);
    line-height: 25px;
    overflow: hidden;
    box-sizing: content-box;
    border:1px solid#F2F5F9;
    padding: 0 20px;
    max-height: 0;
    opacity: 0;
    background: #F2F5F9;
    visibility:hidden;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out, opacity 0.1s ease-out 0.5s, visibility 0.1s ease-out 0.5s;
}
.Safe{
    padding: 80px 0 0 0 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Acordion2{
    display: flex;
    flex-direction: column;
    width: 750px;
    justify-content: center;
}
 
 
.Acordion__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    color: var(--title-color);
    font-weight: 700;
    letter-spacing: -1.071px;
    line-height: 28px;
    padding: 30px 40px;
    border: 1px solid #F2F5F9;
    background-color: #F2F5F9;
}

.Acordion2__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    color: var(--title-color);
    font-weight: 700;
    letter-spacing: -1.071px;
    line-height: 28px;
    padding: 30px 40px;
    border: 1px solid #F2F5F9;
    background-color: #F2F5F9;
}


.Acordion__title span{
    width: 16px;
    height: 8px;
    color: var(--btn-color);
    transform: rotate(0);
    transition: transform 0.5s ease-out;
}
.Acordion__title.active span{
    transform: rotate(180deg);
}

.Acordion2__title span{
    width: 16px;
    height: 8px;
    color: var(--btn-color);
    transform: rotate(0);
    transition: transform 0.5s ease-out;
}
.Acordion2__title.active span{
    transform: rotate(180deg);
}

.Safe{
    position: relative;
}


.Acordion2__text{
    font-size: 15px;
    font-weight: 400;
    color: var(--title-color);
    line-height: 25px;
    overflow: hidden;
    box-sizing: content-box;
    border:1px solid #F2F5F9;
    padding: 0 20px;
    max-height: 0;
    opacity: 0;

    background: #F2F5F9;
    visibility:hidden;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out, opacity 0.1s ease-out 0.5s, visibility 0.1s ease-out 0.5s;
}

.Acordion__text.active{
    visibility: visible;
    opacity: 1;
    padding:0 30px  50px 30px;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out, opacity 0.1s ease-out, visibility 0.1s ease-out;
}
.Acordion2__text.active{
    visibility: visible;
    opacity: 1;
    padding:0 30px  50px 30px;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out, opacity 0.1s ease-out, visibility 0.1s ease-out;
}
.title2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    color: var(--title-color);
    font-weight: 700;
    letter-spacing: -1.071px;
    line-height: 28px;
    padding: 30px 40px;
    border: 1px solid #F2F5F9;
    background-color: #F2F5F9;
} 

.section3 {
    background: var(--title-color);
    padding-top: 50px;
}

.section3__title {
    color: var(--white);
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -2.143px;
    max-width: 415px;
    width: 100%;
}

.section3__wrapper {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section3__info {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.card1 {
    display: flex;
    column-gap: 11.73px;
    background-color: var(--line-color);
    width: 159px;
    padding: 9px 15px;
    border-radius: 4px;
}

.card2 {
    display: flex;
    column-gap: 11px;
    background-color: var(--line-color);
    width: 182px;
    padding: 8px 15px;
    border-radius: 4px;
}

.section3__info-img {
    width: 24.267px;
    height: 28px;
}

.section3__info-text {
    color: var(--title-color);
    font-size: 10px;
    font-weight: 700;
    letter-spacing: -0.446px;
}

.section3__info-title {
    color: var(--title-color);
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.893px;
    font-weight: 700;
}
.Google{
    width: 24.267px;
    height: 28px;
}

.footer__sps {
    padding:30px 0;
    background: #333A44;
}
.footer__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__ul {
    display: flex;
    align-items: center;
    column-gap: 32px;
}

.footer__img {
    margin-right: 26px;
}

.footer__link {
    color: var(--text-color);
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    transition: .5s;
}
.footer__imgs{
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.footer__img{
    color: orange;
}
